<div data-ng-controller="StatisticsCtrl">
    <div class="row">
        <div class="col-md-2">Max Memory</div><div class="col-md-10">{{stats.maxMemory}} MB</div>
    </div>
    <div class="row">
        <div class="col-md-2">Total Memory</div><div class="col-md-10">{{stats.totalMemory}} MB</div>
    </div>
    <div class="row">
        <div class="col-md-2">Free Memory</div><div class="col-md-10">{{stats.freeMemory}} MB</div>
    </div>
    <div class="row">
        <div class="col-md-2">Used Memory</div><div class="col-md-10">{{stats.usedMemory}} MB</div>
    </div>
</div>